<!DOCTYPE html>
<html data-ng-app="TickTockSystems">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/app.css" rel="stylesheet" />
    <title>Tick Tock Systems</title>
</head>

<body data-ng-controller="AppController">
    @RenderBody()





    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/js/angular.js"></script>
    <script src="~/Scripts/js/angular-route.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/app-ctrl.js"></script>
</body>
</html>
