<!DOCTYPE html>
<html data-ng-app="TickTockSystems">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KingCraft</title>
</head>
<body data-ng-controller="AppController">
    @RenderBody()

</body>
</html>
